img {
    width:30%;
    float:left;
    margin-left: 5vw;
}

ul {
    /* https://parspng.com/en/images/coffee-cup-logo-png/ */
    list-style-image: url("../assets/coffee_cup_resized.png");
}

p {
    display: block;
    float:left;
}

.main-secondary-body {
    display:block;
    float:left;
    margin: 0vh 3vw 1vh;
}

.main-title { 
    font-size: 2em;
    margin-top: auto;}