h1 {
    font-family: "Juice ITC";
    font-size: 60px;
    font-weight: 800;
    color:#986437;
    text-shadow: 4px 1px 0px rgba(0,0,0,0.92);
}

h2 {
    font-family: arial;
}

p, a {
    font-family: Verdana;
}

p {
    color: #340405;
}

header{
    display:flex;
    align-items:center;
    text-align: center;
    justify-content: center;
    background-color: #D0B38D;
    height: 10vh;
}

nav {
    display:inline-block;
    width: 10%;
    float: left;
    background-color: #E2D1B2;
    height:55vh;
    padding: 5vh 0 10vh;
    text-align:center;
}

body {
    padding:0;
    margin: 2% 2% 4%;
    background-color: beige;
    -webkit-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 5px -6px rgba(0,0,0,0.75);
}

.main-body {
    font-family: Verdana;
    display:inline-block;
    width: 90%;
    float: right;
    padding: 5vh 0 10vh;
    background-color: #F5F4DD;
    color:#340405;
    height:55vh;
}

.main-title {
    margin-left: 1vw;
    
}

footer {
    display: inline-block;
    width: 100%;
    background-color: #D0B38D;
    align-items: center;
    text-align: center;
}





a {
    text-decoration: none;
    font-weight: bold;
    color: #A48269
}